<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Id</key>
	<integer>210606</integer>
	<key>Info</key>
	<string>null</string>
	<key>MaxLevel</key>
	<integer>7</integer>
	<key>Name</key>
	<string>灼热图腾</string>
	<key>SubType</key>
	<integer>10</integer>
	<key>Xlen</key>
	<integer>3</integer>
	<key>Ylen</key>
	<integer>3</integer>
	<key>MinAttRange</key>
	<integer>0</integer>
	<key>MaxAttRange</key>
	<integer>800</integer>
	<key>DamageType</key>
	<integer>3</integer>
	<key>Targets</key>
	<integer>3</integer>
	<key>DamageArea</key>
	<integer>0</integer>
	<key>AttackInterval</key>
	<integer>1000</integer>
	<key>ActTargetType</key>
	<integer>1</integer>
	<key>WarningRange</key>
	<integer>0</integer>
	<key>NeedHut</key>
	<integer>1</integer>
	<key>Level</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Hp</key>
			<integer>0</integer>
			<key>NextCostType1</key>
			<integer>1</integer>
			<key>NextCost1</key>
			<integer>180000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>0</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>10</integer>
			<key>CritHurt</key>
			<integer>150</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>5</integer>
			<key>NextTime</key>
			<integer>43200</integer>
			<key>ArtFileId</key>
			<integer>0</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>Hp</key>
			<integer>620</integer>
			<key>NextCostType1</key>
			<integer>1</integer>
			<key>NextCost1</key>
			<integer>360000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>30</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>11</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>10</integer>
			<key>CritHurt</key>
			<integer>150</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>5</integer>
			<key>NextTime</key>
			<integer>86400</integer>
			<key>ArtFileId</key>
			<integer>1</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>Hp</key>
			<integer>660</integer>
			<key>NextCostType1</key>
			<integer>1</integer>
			<key>NextCost1</key>
			<integer>720000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>32</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>13</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>10</integer>
			<key>CritHurt</key>
			<integer>150</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>6</integer>
			<key>NextTime</key>
			<integer>172800</integer>
			<key>ArtFileId</key>
			<integer>2</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>Hp</key>
			<integer>690</integer>
			<key>NextCostType1</key>
			<integer>1</integer>
			<key>NextCost1</key>
			<integer>1280000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>34</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>16</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>10</integer>
			<key>CritHurt</key>
			<integer>150</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>7</integer>
			<key>NextTime</key>
			<integer>259200</integer>
			<key>ArtFileId</key>
			<integer>3</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>Hp</key>
			<integer>720</integer>
			<key>NextCostType1</key>
			<integer>1</integer>
			<key>NextCost1</key>
			<integer>1960000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>36</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>20</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>10</integer>
			<key>CritHurt</key>
			<integer>150</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>8</integer>
			<key>NextTime</key>
			<integer>432000</integer>
			<key>ArtFileId</key>
			<integer>4</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>Hp</key>
			<integer>760</integer>
			<key>NextCostType1</key>
			<integer>1</integer>
			<key>NextCost1</key>
			<integer>2680000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>38</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>24</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>10</integer>
			<key>CritHurt</key>
			<integer>150</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>8</integer>
			<key>NextTime</key>
			<integer>604800</integer>
			<key>ArtFileId</key>
			<integer>5</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>Hp</key>
			<integer>800</integer>
			<key>NextCostType1</key>
			<integer>1</integer>
			<key>NextCost1</key>
			<integer>5360000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>40</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>32</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>10</integer>
			<key>CritHurt</key>
			<integer>150</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>9</integer>
			<key>NextTime</key>
			<integer>864000</integer>
			<key>ArtFileId</key>
			<integer>6</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>Hp</key>
			<integer>840</integer>
			<key>NextCostType1</key>
			<integer>1</integer>
			<key>NextCost1</key>
			<integer>0</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>40</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>40</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>10</integer>
			<key>CritHurt</key>
			<integer>150</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>0</integer>
			<key>NextTime</key>
			<integer>0</integer>
			<key>ArtFileId</key>
			<integer>7</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
	</dict>
</dict>
</plist>
