<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Id</key>
	<integer>110504</integer>
	<key>Info</key>
	<string>null</string>
	<key>MaxLevel</key>
	<integer>1</integer>
	<key>Name</key>
	<string>释灵塔</string>
	<key>SubType</key>
	<integer>10</integer>
	<key>Xlen</key>
	<integer>3</integer>
	<key>Ylen</key>
	<integer>3</integer>
	<key>MinAttRange</key>
	<integer>0</integer>
	<key>MaxAttRange</key>
	<integer>0</integer>
	<key>DamageType</key>
	<integer>0</integer>
	<key>Targets</key>
	<integer>0</integer>
	<key>DamageArea</key>
	<integer>0</integer>
	<key>AttackInterval</key>
	<integer>0</integer>
	<key>ActTargetType</key>
	<integer>0</integer>
	<key>WarningRange</key>
	<integer>0</integer>
	<key>NeedHut</key>
	<integer>1</integer>
	<key>Level</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Hp</key>
			<integer>300</integer>
			<key>NextCostType1</key>
			<integer>2</integer>
			<key>NextCost1</key>
			<integer>25000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>0</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>1</integer>
			<key>NextTime</key>
			<integer>1800</integer>
			<key>ArtFileId</key>
			<integer>0</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>Hp</key>
			<integer>300</integer>
			<key>NextCostType1</key>
			<integer>2</integer>
			<key>NextCost1</key>
			<integer>25000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>0</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>1</integer>
			<key>NextTime</key>
			<integer>1800</integer>
			<key>ArtFileId</key>
			<integer>0</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
	</dict>
</dict>
</plist>
