<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Id</key>
	<integer>210100</integer>
	<key>Info</key>
	<string>null</string>
	<key>MaxLevel</key>
	<integer>9</integer>
	<key>Name</key>
	<string>兽人大厅</string>
	<key>SubType</key>
	<integer>10</integer>
	<key>Xlen</key>
	<integer>3</integer>
	<key>Ylen</key>
	<integer>3</integer>
	<key>MinAttRange</key>
	<integer>0</integer>
	<key>MaxAttRange</key>
	<integer>0</integer>
	<key>DamageType</key>
	<integer>0</integer>
	<key>Targets</key>
	<integer>0</integer>
	<key>DamageArea</key>
	<integer>0</integer>
	<key>AttackInterval</key>
	<integer>0</integer>
	<key>ActTargetType</key>
	<integer>0</integer>
	<key>WarningRange</key>
	<integer>0</integer>
	<key>NeedHut</key>
	<integer>1</integer>
	<key>Level</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Hp</key>
			<integer>0</integer>
			<key>NextCostType1</key>
			<integer>1</integer>
			<key>NextCost1</key>
			<integer>0</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>0</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>0</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>0</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>0</integer>
			<key>NextTime</key>
			<integer>0</integer>
			<key>ArtFileId</key>
			<integer>1</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
			<key>StageGold</key>
			<integer>0</integer>
			<key>StageWood</key>
			<integer>0</integer>
			<key>NewBuilding</key>
			<dict>
				<key>210200</key>
				<integer>0</integer>
				<key>210300</key>
				<integer>0</integer>
				<key>210301</key>
				<integer>0</integer>
				<key>210400</key>
				<integer>0</integer>
				<key>210401</key>
				<integer>0</integer>
				<key>210500</key>
				<integer>0</integer>
				<key>210503</key>
				<integer>0</integer>
				<key>210502</key>
				<integer>0</integer>
				<key>210501</key>
				<integer>0</integer>
				<key>210504</key>
				<integer>0</integer>
				<key>210600</key>
				<integer>0</integer>
				<key>210601</key>
				<integer>0</integer>
				<key>210602</key>
				<integer>0</integer>
				<key>210603</key>
				<integer>0</integer>
				<key>210604</key>
				<integer>0</integer>
				<key>210605</key>
				<integer>0</integer>
				<key>210606</key>
				<integer>0</integer>
				<key>210607</key>
				<integer>0</integer>
				<key>210700</key>
				<integer>0</integer>
				<key>210801</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>1</key>
		<dict>
			<key>Hp</key>
			<integer>0</integer>
			<key>NextCostType1</key>
			<integer>1</integer>
			<key>NextCost1</key>
			<integer>0</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>0</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>0</integer>
			<key>NextTime</key>
			<integer>60</integer>
			<key>ArtFileId</key>
			<integer>1</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
			<key>StageGold</key>
			<integer>1000</integer>
			<key>StageWood</key>
			<integer>1000</integer>
			<key>NewBuilding</key>
			<dict>
				<key>210200</key>
				<integer>2</integer>
				<key>210300</key>
				<integer>1</integer>
				<key>210301</key>
				<integer>1</integer>
				<key>210400</key>
				<integer>1</integer>
				<key>210401</key>
				<integer>1</integer>
				<key>210500</key>
				<integer>1</integer>
				<key>210503</key>
				<integer>0</integer>
				<key>210502</key>
				<integer>1</integer>
				<key>210501</key>
				<integer>1</integer>
				<key>210504</key>
				<integer>1</integer>
				<key>210600</key>
				<integer>2</integer>
				<key>210601</key>
				<integer>0</integer>
				<key>210602</key>
				<integer>0</integer>
				<key>210603</key>
				<integer>0</integer>
				<key>210604</key>
				<integer>0</integer>
				<key>210605</key>
				<integer>0</integer>
				<key>210606</key>
				<integer>0</integer>
				<key>210607</key>
				<integer>0</integer>
				<key>210700</key>
				<integer>0</integer>
				<key>210801</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>Hp</key>
			<integer>1500</integer>
			<key>NextCostType1</key>
			<integer>1</integer>
			<key>NextCost1</key>
			<integer>1000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>30</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>1</integer>
			<key>NextTime</key>
			<integer>300</integer>
			<key>ArtFileId</key>
			<integer>2</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
			<key>StageGold</key>
			<integer>1000</integer>
			<key>StageWood</key>
			<integer>1000</integer>
			<key>NewBuilding</key>
			<dict>
				<key>210200</key>
				<integer>2</integer>
				<key>210300</key>
				<integer>2</integer>
				<key>210301</key>
				<integer>2</integer>
				<key>210400</key>
				<integer>1</integer>
				<key>210401</key>
				<integer>1</integer>
				<key>210500</key>
				<integer>1</integer>
				<key>210503</key>
				<integer>0</integer>
				<key>210502</key>
				<integer>1</integer>
				<key>210501</key>
				<integer>1</integer>
				<key>210504</key>
				<integer>1</integer>
				<key>210600</key>
				<integer>2</integer>
				<key>210601</key>
				<integer>1</integer>
				<key>210602</key>
				<integer>0</integer>
				<key>210603</key>
				<integer>0</integer>
				<key>210604</key>
				<integer>0</integer>
				<key>210605</key>
				<integer>0</integer>
				<key>210606</key>
				<integer>0</integer>
				<key>210607</key>
				<integer>0</integer>
				<key>210700</key>
				<integer>25</integer>
				<key>210801</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>Hp</key>
			<integer>1600</integer>
			<key>NextCostType1</key>
			<integer>1</integer>
			<key>NextCost1</key>
			<integer>4000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>32</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>2</integer>
			<key>NextTime</key>
			<integer>3600</integer>
			<key>ArtFileId</key>
			<integer>3</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
			<key>StageGold</key>
			<integer>1000</integer>
			<key>StageWood</key>
			<integer>1000</integer>
			<key>NewBuilding</key>
			<dict>
				<key>210200</key>
				<integer>5</integer>
				<key>210300</key>
				<integer>3</integer>
				<key>210301</key>
				<integer>3</integer>
				<key>210400</key>
				<integer>2</integer>
				<key>210401</key>
				<integer>2</integer>
				<key>210500</key>
				<integer>2</integer>
				<key>210503</key>
				<integer>1</integer>
				<key>210502</key>
				<integer>1</integer>
				<key>210501</key>
				<integer>1</integer>
				<key>210504</key>
				<integer>1</integer>
				<key>210600</key>
				<integer>2</integer>
				<key>210601</key>
				<integer>1</integer>
				<key>210602</key>
				<integer>0</integer>
				<key>210603</key>
				<integer>1</integer>
				<key>210604</key>
				<integer>0</integer>
				<key>210605</key>
				<integer>0</integer>
				<key>210606</key>
				<integer>0</integer>
				<key>210607</key>
				<integer>0</integer>
				<key>210700</key>
				<integer>50</integer>
				<key>210801</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>Hp</key>
			<integer>1800</integer>
			<key>NextCostType1</key>
			<integer>1</integer>
			<key>NextCost1</key>
			<integer>25000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>34</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>3</integer>
			<key>NextTime</key>
			<integer>14400</integer>
			<key>ArtFileId</key>
			<integer>4</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
			<key>StageGold</key>
			<integer>1000</integer>
			<key>StageWood</key>
			<integer>1000</integer>
			<key>NewBuilding</key>
			<dict>
				<key>210200</key>
				<integer>5</integer>
				<key>210300</key>
				<integer>4</integer>
				<key>210301</key>
				<integer>4</integer>
				<key>210400</key>
				<integer>2</integer>
				<key>210401</key>
				<integer>2</integer>
				<key>210500</key>
				<integer>2</integer>
				<key>210503</key>
				<integer>1</integer>
				<key>210502</key>
				<integer>2</integer>
				<key>210501</key>
				<integer>1</integer>
				<key>210504</key>
				<integer>1</integer>
				<key>210600</key>
				<integer>2</integer>
				<key>210601</key>
				<integer>2</integer>
				<key>210602</key>
				<integer>1</integer>
				<key>210603</key>
				<integer>1</integer>
				<key>210604</key>
				<integer>0</integer>
				<key>210605</key>
				<integer>0</integer>
				<key>210606</key>
				<integer>0</integer>
				<key>210607</key>
				<integer>0</integer>
				<key>210700</key>
				<integer>75</integer>
				<key>210801</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>5</key>
		<dict>
			<key>Hp</key>
			<integer>2000</integer>
			<key>NextCostType1</key>
			<integer>1</integer>
			<key>NextCost1</key>
			<integer>150000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>36</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>4</integer>
			<key>NextTime</key>
			<integer>43200</integer>
			<key>ArtFileId</key>
			<integer>5</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
			<key>StageGold</key>
			<integer>1000</integer>
			<key>StageWood</key>
			<integer>1000</integer>
			<key>NewBuilding</key>
			<dict>
				<key>210200</key>
				<integer>5</integer>
				<key>210300</key>
				<integer>5</integer>
				<key>210301</key>
				<integer>5</integer>
				<key>210400</key>
				<integer>2</integer>
				<key>210401</key>
				<integer>2</integer>
				<key>210500</key>
				<integer>3</integer>
				<key>210503</key>
				<integer>1</integer>
				<key>210502</key>
				<integer>2</integer>
				<key>210501</key>
				<integer>1</integer>
				<key>210504</key>
				<integer>1</integer>
				<key>210600</key>
				<integer>3</integer>
				<key>210601</key>
				<integer>3</integer>
				<key>210602</key>
				<integer>1</integer>
				<key>210603</key>
				<integer>1</integer>
				<key>210604</key>
				<integer>1</integer>
				<key>210605</key>
				<integer>0</integer>
				<key>210606</key>
				<integer>0</integer>
				<key>210607</key>
				<integer>0</integer>
				<key>210700</key>
				<integer>100</integer>
				<key>210801</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>6</key>
		<dict>
			<key>Hp</key>
			<integer>2200</integer>
			<key>NextCostType1</key>
			<integer>1</integer>
			<key>NextCost1</key>
			<integer>750000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>38</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>5</integer>
			<key>NextTime</key>
			<integer>172800</integer>
			<key>ArtFileId</key>
			<integer>6</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
			<key>StageGold</key>
			<integer>1000</integer>
			<key>StageWood</key>
			<integer>1000</integer>
			<key>NewBuilding</key>
			<dict>
				<key>210200</key>
				<integer>5</integer>
				<key>210300</key>
				<integer>6</integer>
				<key>210301</key>
				<integer>6</integer>
				<key>210400</key>
				<integer>2</integer>
				<key>210401</key>
				<integer>2</integer>
				<key>210500</key>
				<integer>3</integer>
				<key>210503</key>
				<integer>1</integer>
				<key>210502</key>
				<integer>2</integer>
				<key>210501</key>
				<integer>1</integer>
				<key>210504</key>
				<integer>1</integer>
				<key>210600</key>
				<integer>3</integer>
				<key>210601</key>
				<integer>3</integer>
				<key>210602</key>
				<integer>1</integer>
				<key>210603</key>
				<integer>2</integer>
				<key>210604</key>
				<integer>1</integer>
				<key>210605</key>
				<integer>1</integer>
				<key>210606</key>
				<integer>1</integer>
				<key>210607</key>
				<integer>1</integer>
				<key>210700</key>
				<integer>125</integer>
				<key>210801</key>
				<integer>3</integer>
			</dict>
		</dict>
		<key>7</key>
		<dict>
			<key>Hp</key>
			<integer>2500</integer>
			<key>NextCostType1</key>
			<integer>1</integer>
			<key>NextCost1</key>
			<integer>1200000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>40</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>6</integer>
			<key>NextTime</key>
			<integer>345600</integer>
			<key>ArtFileId</key>
			<integer>7</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
			<key>StageGold</key>
			<integer>1000</integer>
			<key>StageWood</key>
			<integer>1000</integer>
			<key>NewBuilding</key>
			<dict>
				<key>210200</key>
				<integer>5</integer>
				<key>210300</key>
				<integer>6</integer>
				<key>210301</key>
				<integer>6</integer>
				<key>210400</key>
				<integer>2</integer>
				<key>210401</key>
				<integer>2</integer>
				<key>210500</key>
				<integer>4</integer>
				<key>210503</key>
				<integer>1</integer>
				<key>210502</key>
				<integer>3</integer>
				<key>210501</key>
				<integer>1</integer>
				<key>210504</key>
				<integer>1</integer>
				<key>210600</key>
				<integer>4</integer>
				<key>210601</key>
				<integer>4</integer>
				<key>210602</key>
				<integer>2</integer>
				<key>210603</key>
				<integer>3</integer>
				<key>210604</key>
				<integer>2</integer>
				<key>210605</key>
				<integer>1</integer>
				<key>210606</key>
				<integer>1</integer>
				<key>210607</key>
				<integer>1</integer>
				<key>210700</key>
				<integer>150</integer>
				<key>210801</key>
				<integer>4</integer>
			</dict>
		</dict>
		<key>8</key>
		<dict>
			<key>Hp</key>
			<integer>2700</integer>
			<key>NextCostType1</key>
			<integer>1</integer>
			<key>NextCost1</key>
			<integer>2000000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>42</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>7</integer>
			<key>NextTime</key>
			<integer>518400</integer>
			<key>ArtFileId</key>
			<integer>8</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
			<key>StageGold</key>
			<integer>1000</integer>
			<key>StageWood</key>
			<integer>1000</integer>
			<key>NewBuilding</key>
			<dict>
				<key>210200</key>
				<integer>5</integer>
				<key>210300</key>
				<integer>6</integer>
				<key>210301</key>
				<integer>6</integer>
				<key>210400</key>
				<integer>3</integer>
				<key>210401</key>
				<integer>3</integer>
				<key>210500</key>
				<integer>4</integer>
				<key>210503</key>
				<integer>1</integer>
				<key>210502</key>
				<integer>3</integer>
				<key>210501</key>
				<integer>1</integer>
				<key>210504</key>
				<integer>1</integer>
				<key>210600</key>
				<integer>4</integer>
				<key>210601</key>
				<integer>5</integer>
				<key>210602</key>
				<integer>2</integer>
				<key>210603</key>
				<integer>3</integer>
				<key>210604</key>
				<integer>2</integer>
				<key>210605</key>
				<integer>2</integer>
				<key>210606</key>
				<integer>1</integer>
				<key>210607</key>
				<integer>1</integer>
				<key>210700</key>
				<integer>200</integer>
				<key>210801</key>
				<integer>4</integer>
			</dict>
		</dict>
		<key>9</key>
		<dict>
			<key>Hp</key>
			<integer>3000</integer>
			<key>NextCostType1</key>
			<integer>1</integer>
			<key>NextCost1</key>
			<integer>4000000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>44</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>8</integer>
			<key>NextTime</key>
			<integer>691200</integer>
			<key>ArtFileId</key>
			<integer>9</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
			<key>StageGold</key>
			<integer>1000</integer>
			<key>StageWood</key>
			<integer>1000</integer>
			<key>NewBuilding</key>
			<dict>
				<key>210200</key>
				<integer>5</integer>
				<key>210300</key>
				<integer>6</integer>
				<key>210301</key>
				<integer>6</integer>
				<key>210400</key>
				<integer>3</integer>
				<key>210401</key>
				<integer>3</integer>
				<key>210500</key>
				<integer>4</integer>
				<key>210503</key>
				<integer>1</integer>
				<key>210502</key>
				<integer>3</integer>
				<key>210501</key>
				<integer>1</integer>
				<key>210504</key>
				<integer>1</integer>
				<key>210600</key>
				<integer>5</integer>
				<key>210601</key>
				<integer>5</integer>
				<key>210602</key>
				<integer>3</integer>
				<key>210603</key>
				<integer>3</integer>
				<key>210604</key>
				<integer>2</integer>
				<key>210605</key>
				<integer>2</integer>
				<key>210606</key>
				<integer>2</integer>
				<key>210607</key>
				<integer>2</integer>
				<key>210700</key>
				<integer>250</integer>
				<key>210801</key>
				<integer>4</integer>
			</dict>
		</dict>
		<key>100</key>
		<dict>
			<key>Hp</key>
			<integer>1500</integer>
			<key>NextCostType1</key>
			<integer>0</integer>
			<key>NextCost1</key>
			<integer>0</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>30</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>0</integer>
			<key>NextTime</key>
			<integer>0</integer>
			<key>ArtFileId</key>
			<integer>1</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
		<key>101</key>
		<dict>
			<key>Hp</key>
			<integer>1600</integer>
			<key>NextCostType1</key>
			<integer>0</integer>
			<key>NextCost1</key>
			<integer>0</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>32</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>0</integer>
			<key>NextTime</key>
			<integer>0</integer>
			<key>ArtFileId</key>
			<integer>2</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
		<key>102</key>
		<dict>
			<key>Hp</key>
			<integer>1800</integer>
			<key>NextCostType1</key>
			<integer>0</integer>
			<key>NextCost1</key>
			<integer>0</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>34</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>0</integer>
			<key>NextTime</key>
			<integer>0</integer>
			<key>ArtFileId</key>
			<integer>3</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
		<key>103</key>
		<dict>
			<key>Hp</key>
			<integer>2000</integer>
			<key>NextCostType1</key>
			<integer>0</integer>
			<key>NextCost1</key>
			<integer>0</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>36</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>0</integer>
			<key>NextTime</key>
			<integer>0</integer>
			<key>ArtFileId</key>
			<integer>4</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
		<key>104</key>
		<dict>
			<key>Hp</key>
			<integer>2200</integer>
			<key>NextCostType1</key>
			<integer>0</integer>
			<key>NextCost1</key>
			<integer>0</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>38</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>0</integer>
			<key>NextTime</key>
			<integer>0</integer>
			<key>ArtFileId</key>
			<integer>5</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
		<key>105</key>
		<dict>
			<key>Hp</key>
			<integer>2500</integer>
			<key>NextCostType1</key>
			<integer>0</integer>
			<key>NextCost1</key>
			<integer>0</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>40</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>0</integer>
			<key>NextTime</key>
			<integer>0</integer>
			<key>ArtFileId</key>
			<integer>6</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
		<key>106</key>
		<dict>
			<key>Hp</key>
			<integer>2700</integer>
			<key>NextCostType1</key>
			<integer>0</integer>
			<key>NextCost1</key>
			<integer>0</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>42</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>0</integer>
			<key>NextTime</key>
			<integer>0</integer>
			<key>ArtFileId</key>
			<integer>7</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
		<key>107</key>
		<dict>
			<key>Hp</key>
			<integer>3000</integer>
			<key>NextCostType1</key>
			<integer>0</integer>
			<key>NextCost1</key>
			<integer>0</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>44</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>0</integer>
			<key>NextTime</key>
			<integer>0</integer>
			<key>ArtFileId</key>
			<integer>8</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
		<key>108</key>
		<dict>
			<key>Hp</key>
			<integer>0</integer>
			<key>NextCostType1</key>
			<integer>0</integer>
			<key>NextCost1</key>
			<integer>0</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>0</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>0</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>0</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>0</integer>
			<key>NextTime</key>
			<integer>0</integer>
			<key>ArtFileId</key>
			<integer>9</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
		</dict>
	</dict>
</dict>
</plist>
