<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Id</key>
	<integer>210503</integer>
	<key>Info</key>
	<string>null</string>
	<key>MaxLevel</key>
	<integer>6</integer>
	<key>Name</key>
	<string>战争磨坊</string>
	<key>SubType</key>
	<integer>10</integer>
	<key>Xlen</key>
	<integer>2</integer>
	<key>Ylen</key>
	<integer>2</integer>
	<key>MinAttRange</key>
	<integer>0</integer>
	<key>MaxAttRange</key>
	<integer>0</integer>
	<key>DamageType</key>
	<integer>0</integer>
	<key>Targets</key>
	<integer>0</integer>
	<key>DamageArea</key>
	<integer>0</integer>
	<key>AttackInterval</key>
	<integer>0</integer>
	<key>ActTargetType</key>
	<integer>0</integer>
	<key>WarningRange</key>
	<integer>0</integer>
	<key>NeedHut</key>
	<integer>1</integer>
	<key>Level</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Hp</key>
			<integer>0</integer>
			<key>NextCostType1</key>
			<integer>2</integer>
			<key>NextCost1</key>
			<integer>25000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>0</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>3</integer>
			<key>NextTime</key>
			<integer>1800</integer>
			<key>ArtFileId</key>
			<integer>0</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
			<key>DefSoliderHp</key>
			<integer>30</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>Hp</key>
			<integer>250</integer>
			<key>NextCostType1</key>
			<integer>2</integer>
			<key>NextCost1</key>
			<integer>50000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>30</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>4</integer>
			<key>NextTime</key>
			<integer>7200</integer>
			<key>ArtFileId</key>
			<integer>1</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
			<key>DefSoliderHp</key>
			<integer>35</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>Hp</key>
			<integer>270</integer>
			<key>NextCostType1</key>
			<integer>2</integer>
			<key>NextCost1</key>
			<integer>90000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>32</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>5</integer>
			<key>NextTime</key>
			<integer>21600</integer>
			<key>ArtFileId</key>
			<integer>2</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
			<key>DefSoliderHp</key>
			<integer>40</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>Hp</key>
			<integer>280</integer>
			<key>NextCostType1</key>
			<integer>2</integer>
			<key>NextCost1</key>
			<integer>270000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>34</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>6</integer>
			<key>NextTime</key>
			<integer>43200</integer>
			<key>ArtFileId</key>
			<integer>3</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
			<key>DefSoliderHp</key>
			<integer>45</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>Hp</key>
			<integer>290</integer>
			<key>NextCostType1</key>
			<integer>2</integer>
			<key>NextCost1</key>
			<integer>540000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>36</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>7</integer>
			<key>NextTime</key>
			<integer>172800</integer>
			<key>ArtFileId</key>
			<integer>4</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
			<key>DefSoliderHp</key>
			<integer>50</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>Hp</key>
			<integer>310</integer>
			<key>NextCostType1</key>
			<integer>2</integer>
			<key>NextCost1</key>
			<integer>1080000</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>38</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>8</integer>
			<key>NextTime</key>
			<integer>345600</integer>
			<key>ArtFileId</key>
			<integer>5</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
			<key>DefSoliderHp</key>
			<integer>55</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>Hp</key>
			<integer>320</integer>
			<key>NextCostType1</key>
			<integer>0</integer>
			<key>NextCost1</key>
			<integer>0</integer>
			<key>NextCostType2</key>
			<integer>0</integer>
			<key>NextCost2</key>
			<integer>0</integer>
			<key>RestoreTime</key>
			<integer>40</integer>
			<key>PhyAtt</key>
			<integer>0</integer>
			<key>PhyDef</key>
			<integer>2</integer>
			<key>MagAtt</key>
			<integer>0</integer>
			<key>MagDef</key>
			<integer>2</integer>
			<key>CritRate</key>
			<integer>0</integer>
			<key>CritHurt</key>
			<integer>0</integer>
			<key>HitRate</key>
			<integer>0</integer>
			<key>NextHall</key>
			<integer>0</integer>
			<key>NextTime</key>
			<integer>0</integer>
			<key>ArtFileId</key>
			<integer>6</integer>
			<key>NextOpenTrainSolider</key>
			<integer>1009</integer>
			<key>DefSoliderHp</key>
			<integer>60</integer>
		</dict>
	</dict>
</dict>
</plist>
